
#barba-wrapper {
  visibility: visible;
  position: relative;
}

.barba-container {
  background-color: #fff;
}

#main-work {
  background-color:
  color: #fff;
  padding: 20px;
}

.work-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.work-list__item {
  background-color: #fff;
  padding: 10px;
  /* border: 0.1px solid grey; */
}

/* .work-list__item:hover {
  border: 0.5px solid #ECECEC;
  border-radius: 20px;
} */

.work-list__item:hover img {
  transform: scale(1.2);
}

.work-list__item a {
  text-decoration: none;
  color: #black;
  font-size: 12px;
  font-weight: bold;
}

.work-list__item a:hover {
  /* text-decoration: underline; */
  color:#0052FF;
}

.work-list__item img {
  width: 100%;
  height: auto;
}

.work-list__item h2 {
  font-size: 18px;
  margin: 10px 0;
}
